In [1]:
import pandas as pd
import numpy as np

# 处理重复数据

In [2]:
df_obj = pd.DataFrame({'data1' : ['a'] * 4 + ['b'] * 4,
                       'data2' : np.random.randint(0, 4, 8)})
print(df_obj)

  data1  data2
0     a      2
1     a      2
2     a      3
3     a      0
4     b      3
5     b      3
6     b      1
7     b      3

In [3]:
print(df_obj.duplicated())

0    False
1     True
2    False
3    False
4    False
5     True
6    False
7     True
dtype: bool

In [ ]:
#取出不重复行

In [4]:
df_obj[~df_obj.duplicated()]

  data1  data2
0     a      2
2     a      3
3     a      0
4     b      3
6     b      1

In [5]:
#按照某一列去重
print(df_obj.duplicated('data2'))

0    False
1     True
2    False
3    False
4     True
5     True
6    False
7     True
dtype: bool

In [6]:
df_obj1 = pd.DataFrame({'data1' :[np.nan] * 4,
                       'data2' :list('1235')})
df_obj1

   data1 data2
0    NaN     1
1    NaN     2
2    NaN     3
3    NaN     5

In [7]:
#在pd的duplicated认为空值和空值相等的
df_obj1.duplicated('data1')
# print(df_obj1.drop_duplicates('data1'))

0    False
1     True
2     True
3     True
dtype: bool

In [8]:
print(df_obj.drop_duplicates())  #删除重复行
# print(df_obj.drop_duplicates('data2'))

  data1  data2
0     a      2
2     a      3
3     a      0
4     b      3
6     b      1

In [12]:
#如果要在原有的df上去重，需要加inplace=True
print(df_obj)
df_obj.drop_duplicates(inplace=True)
print(df_obj)

  data1  data2
0     a      2
2     a      3
3     a      0
4     b      3
6     b      1
  data1  data2
0     a      2
2     a      3
3     a      0
4     b      3
6     b      1

In [13]:
#map与applymap一样，但是map只能用于series，applymap只能用于df
ser_obj = pd.Series(np.random.randint(0,10,10))  #series 用map
print(ser_obj)

print(ser_obj.map(lambda x : x ** 2))

0    2
1    6
2    8
3    5
4    7
5    5
6    9
7    0
8    4
9    4
dtype: int32
0     4
1    36
2    64
3    25
4    49
5    25
6    81
7     0
8    16
9    16
dtype: int64

In [14]:
#异常值手动替换
ser_obj=pd.Series(np.arange(10),index=range(3,13))
# 单个值替换单个值,将值为 1 的元素替换为 -100
print(ser_obj.replace(1, -100))
print('-' * 20)
# 多个值替换一个值,将值为 6 到 8（含）的元素替换为 -100
print(ser_obj.replace(range(6,9), -100))
print('-' * 20)
# 多个值替换多个值,将值为 4 替换为 -100，值为 7 替换为 -200
print(ser_obj.replace([4, 7], [-100, -200]))

3       0
4    -100
5       2
6       3
7       4
8       5
9       6
10      7
11      8
12      9
dtype: int64
--------------------
3       0
4       1
5       2
6       3
7       4
8       5
9    -100
10   -100
11   -100
12      9
dtype: int64
--------------------
3       0
4       1
5       2
6       3
7    -100
8       5
9       6
10   -200
11      8
12      9
dtype: int64

In [15]:
df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                   'B': [5, 6, 7, 8, 9],
                   'C': ['a', 'b', 'ac', 'd', 'e']})
df

   A  B   C
0  0  5   a
1  1  6   b
2  2  7  ac
3  3  8   d
4  4  9   e

In [16]:
#正则表达式替换,将a开头的字符型变为100
df.replace(to_replace=r'^a', value=100, regex=True)

   A  B    C
0  0  5  100
1  1  6    b
2  2  7  100
3  3  8    d
4  4  9    e

In [17]:
df.dtypes

A     int64
B     int64
C    object
dtype: object